@using UserManagementMVCExample.Models.ViewModels
@model ComboIndexDataViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Combos</h1>

<p>
    <a asp-action="Create">Add new combo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Count
            </th>
            <th>
                Price
            </th>
            <th>Sushis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Combos) {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["ComboID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @{
                        foreach (var sushi in item.SushiAssignments)
                        {
                            @sushi.Sushi.Id @:  @sushi.Sushi.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
