@model UserManagementMVCExample.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Shopping Bag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    // Perform the ajax post
                    console.log(JSON.parse(JSON.stringify(recordToDelete)))
                    $.post("@Url.Action("RemoveFromCart","ShoppingCart")", { "cartItemId": recordToDelete },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            $('#cart-total').text(data.CartTotal);
                            //$('#update-message').text(data.Message);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                        }
                    );
                }
            });
        });
        function myAlert() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }

        function handleUpdate() {
            // Load and deserialize the returned JSON data
            var json = context.get_data();
            var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
            // Update the page elements
                $('#row-' + data.DeleteId).fadeOut('slow');
            $('#cart-total').text(data.CartTotal);
            $('#update-message').text(data.Message);
            $('#cart-status').text('Cart (' + data.CartCount + ')');
        }

        $(document).ready(function () {

            $(".plus").each(function (index) {
                let id = $(this).attr("data-id");
                $('#span-plus-'+ id).on("click", function (){
                //console.log(id);
                    if (id != '') {
                    // Perform the ajax post
                    $.post("@Url.Action("IncreaseCartItemCount","ShoppingCart")", { "cartItemId": id },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                                $('#count-' + id).val(data.ItemCount);
                            $('#cart-total').text(data.CartTotal);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                            
                        }
                    );
                }
                });
            });
        

            $(".minus").each(function (index) {
                let id = $(this).attr("data-id");
                $('#span-minus-' + id).on("click", function () {
                    //console.log(id);
                if (id != '') {
                    if ($('#count-' + id).val() <= 1) {
                            $('#count-' + id).val(1);
                    }
                    else{
                    $.post("@Url.Action("DecreaseCartItemCount","ShoppingCart")", { "cartItemId": id },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            $('#count-' + id).val(data.ItemCount);
                            $('#cart-total').text(data.CartTotal);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');

                        }
                        
                    );
                    }
                }
                });
            });
        });
    </script>
}

<h3>
    Review your cart:
 </h3>
    <div>
        <a asp-controller="ProductsMenu" asp-action="Index">Back to Menu</a>
    </div>

<div id="snackbar">Item was removed</div>

<table class="table" >
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.Id">
            <td>
                <div class="cart-product-tumb">
                    @if (item.Product.ImageURL != null)
                    {
                        <img src="data:image/*;base64,@(Convert.ToBase64String(item.Product.ImageURL))">
                    }
                    else
                    {
                        <img src="">
                    }
                </div>
            </td>
            <td>
                @item.Product.Name
            </td>
            <td>
                @item.Product.Price лв.
            </td>
            <td id="item-count-@item.Id">
                <div class="qty mt-2">
                    <span class="minus bg-dark" id="span-minus-@item.Id" data-id="@item.Id">-</span>
                    <input type="number" class="count Input" id="count-@item.Id" data-id="@item.Id" name="qty" value="@item.Count">
                    <span class="plus bg-dark" id="span-plus-@item.Id" data-id="@item.Id">+</span>
                </div>
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.Id" onclick="myAlert()">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <h5>Total: </h5>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a asp-controller="Order" asp-action="MakeAnOrder" type="button" class="btn btn-primary">Checkout</a>
        </td>
    </tr>
</table>

