@model IEnumerable<UserManagementMVCExample.Models.Sushi>
@{
    ViewData["Title"] = "Sushi menu";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Id">Add to Bag</a>
                </td>
            </tr>
        }
    </tbody>
</table>
