@model UserManagementMVCExample.Models.Order

@{
}
@section Scripts{
    <script src="https://js.braintreegateway.com/web/dropin/1.21.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        const form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }
                    // Step four: when the user is ready to complete their
                    //   transaction, use the dropinInstance to get a payment
                    //   method nonce for the user's selected payment method, then add
                    //   it a the hidden field before submitting the complete form to
                    //   a server-side integration
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
}
    <form method="post" asp-action="Payment" id="payment-form">
        <div class="wrapper">
            <div class="checkout container">
                <header>
                    <h1 class="text-info">Make a transaction for your delivery</h1>
                    <h4 class="text-success">
                        You can use credit card or paypal
                    </h4>
                    <p>Delivery address: @Model.DeliveryAdress</p>
                    <p>Delivery time: @Model.DeliveryTime</p>
                    <p>Name: @Model.Customer.FirstName @Model.Customer.LastName</p>
                    <p>Phone number: @Model.Customer.PhoneNumber</p>
                    <p>Email: @Model.Customer.Email</p>
                </header>
                <section>
                    <div class="bt-drop-in-wrapper">
                        <div id="bt-dropin"></div>
                    </div>
                </section>
                <input name="orderId" value="@Model.Id" type="hidden" />
                <input id="nonce" name="payment_method_nonce" type="hidden" />
                <button class="btn btn-primary" id="submit-button"><span>Test transaction</span></button>
            </div>
        </div>
    </form>



