@using UserManagementMVCExample.Enums;

@model IEnumerable<UserManagementMVCExample.Models.Order>
@{
    ViewData["Title"] = "Orders To-Do List";
}

<link href="/css/todolist.css" rel="stylesheet" />
<h2 class="text-warning text-center">Orders to do</h2>
<h6 class="text-center">When the order is give to the delivery guy mark it as "Shipped" by clicking on it once. Then it will fade out.</h6>
<br />
<ul class="mylist" id="myUL">
    @foreach(var order in Model)
    {
        if (order.OrderStatus == UserManagementMVCExample.Enums.OrdersStatus.Confirmed) 
        {
            <li href="#" id="row-@order.Id" class="RemoveLink" data-id="@order.Id">@order.DeliveryAdress for @order.DeliveryTime :
                @foreach(var item in order.OrdersItems) {
                    <text> @item.Product.Name - @item.Count pcs. | </text>
                }
            </li>
        }
    }
</ul>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".RemoveLink").click(function () {
                var recordToUpdate = $(this).attr("data-id");

                if (recordToUpdate != '') {
                    console.log(JSON.parse(JSON.stringify(recordToUpdate)))
                    $.post("@Url.Action("UpdateStatus","ToDoList")", { "id": recordToUpdate },
                        function (data) {
                            $('#row-' + data.updatedStatusId).fadeOut('slow');
                        }
                    );
                }
                //$("body").load("Url.Action("Index","Order")");
            });
        });
    </script>
}
